.header {
  background-image: linear-gradient(to right, #444fff, #00a1ff 48%, #00d7ff);

  img {
    position: relative;
    top: 1rem;
  }

  .header__content {
    padding-top: 10rem;

  }
  @media (max-width: 768px) {
    .header__content {
      padding: 3rem;
    }
  }
}

.des.header {
  background-image: linear-gradient(to right, #444fff, #00a1ff 48%, #00d7ff);
}

.signup-btn {
  height: 2.375rem;
  border-radius: 0.25rem;
  border: solid 0.0625rem #ffffff;
}

.btn-link {
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  text-decoration: none;
}

.btn-link:hover {
  background-color: hotpink;
  text-decoration: none;
}

.header-title {
  width: 21.5rem;
}

a:hover {
  font-weight: 600;
  color: hotpink;
}

.btn {
  flex: 1;
  height: 3.25rem;
  border-radius: 0.25rem;
  background-color: #00d187;
  box-shadow: 0 0.0625rem 0.375rem 0 #4449a2;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  text-decoration: none;
}

.signup-btn {
  height: 2.375rem;
  border-radius: 0.25rem;
  border: solid 0.0625rem #ffffff;
}

.btn-link {
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  text-decoration: none;
}

.btn-link:hover {
  background-color: hotpink;
  text-decoration: none;
}

.header-title {
  width: 21.5rem;
}

a:hover {
  font-weight: 600;
  color: hotpink;
}

.btn {
  flex: 1;
  height: 3.25rem;
  border-radius: 0.25rem;
  background-color: #00d187;
  box-shadow: 0 0.0625rem 0.375rem 0 #4449a2;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  text-decoration: none;
}

.desktop-only {

}

.phone-only {
}

@media all and (max-width: 1160px) {
  .desktop-only {display:none;}
  .phone-only {display:block;}
}
.btn:hover {
  background-color: hotpink;
}

.mid-box {
  min-height: 6.5625rem;
  background-color: #f9fafa;
  border: solid 0.0625rem #eeeeee;
  word-spacing: -0.3rem;
  letter-spacing: -0.0125rem;
}

.footer-top {
  background-color: #f5f9fc;
}

.footer-bottom {
  height: 7rem;
  background-color: #00d187;
}

.btn:hover {
  background-color: hotpink;
}

.mid-box {
  min-height: 6.5625rem;
  background-color: #f9fafa;
  border: solid 0.0625rem #eeeeee;
  word-spacing: -0.3rem;
  letter-spacing: -0.0125rem;
}

.desc {
  line-height: 1.71;
  letter-spacing: 0.00625rem;
  color: #333333;
}


.footer-top {
  height: 17.8125rem;
  background-color: #f5f9fc;

  img {
    max-width: 100%;
  }
}

.footer-bottom {
  height: 7rem;
  background-color: #00d187;
}
